@import '../styles/h5peditor-info-wall-main';

.h5peditor-info-wall {
  .field-name-infoWall {
    > .title {
      display: none;
    }

    > .content {
      background: transparent;
      border: 0;
      padding: 0;

      .field-name-panelTitle {
        display: none;
      }

      .field:nth-child(2) {
        margin-top: 0;
      };

      input {
        font-family: inherit;
      }
    }
  }
}
