@import '../styles/h5peditor-info-wall-main';

.h5peditor-info-wall {
  .field-name-infoWall {
    > .title {
      display: none;
    }

    > .content {
      background: transparent;
      border: 0;
      padding: 0;

      input {
        font-family: inherit;
      }

      textarea {
        font-family: inherit;
        height: 4em;
        width: 100%;
      }
    }
  }
}
