@import '../styles/h5peditor-info-wall-main';

.h5peditor-info-wall {
  .field-name-infoWall {
    > .title {
      display: none;
    }

    > .content {
      background: transparent;
      border: 0;
      padding: 0;
    }
  }
}
